body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.container {
display: flex;
margin: auto;
padding-top: 40vh;
max-width: 100vw;
overflow: hidden;
}

.sunny, .cloudy, .rainy, .stormy, .snowy, .rainbow, .starry{
  margin: 0 1vw;
  width: 12vw;
}

.shadow{
  animation: shadow 5s infinite ease-in-out;
  transform-origin: center;
}

.star-1{
  animation: star 3s infinite linear;
}

.star-2{
  animation: star 3s infinite linear 1s;
}

.star-3{
  animation: star 3s infinite linear 2s;
}

.cloud-1{
  animation: cloud 5s infinite ease-in-out;
  transform-origin: center;
}

.sunshine{
  animation: sunshine 25s infinite linear;
  transform-origin: center;
}

.light-2{
  animation: lightening 3s infinite linear;
  transform-origin: center;
}

.light-1{
  animation: lightening 3s infinite linear 1.5s;
  transform-origin: center;
}

.light-3{
  animation: lightening 3s infinite linear 2s;
  transform-origin: center;
}

.cloud-thunder{
  animation: thunder 3s infinite linear;
  transform-origin: center;
}

.snow-2, .rain-2{
  animation: snowing 5s infinite linear;
  transform-origin: center;
}

.snow-1, .rain-1{
  animation: snowing 4s infinite linear;
  transform-origin: center;
}

.snow-3, .rain-3{
  animation: snowing 6s infinite linear;
  transform-origin: center;
}


.band-7{
  animation: band-7 5s infinite linear;
}
.band-6{
  animation: band-6 5s infinite linear;
}
.band-5{
  animation: band-5 5s infinite linear;
}
.band-4{
  animation: band-4 5s infinite linear;
}
.band-3{
  animation: band-3 5s infinite linear;
}
.band-2{
  animation: band-2 5s infinite linear;
}
.band-1{
  animation: band-1 5s infinite linear;
}


@keyframes shadow {
    0%{fill: #a1a9b5; transform: scaleX(0.7);}
    50%{fill: #6f7987; transform: scale(1);}
    100%{fill: #a1a9b5;transform: scaleX(0.7); }
}


@keyframes sunshine {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

@keyframes star {
    0%{opacity: 1;}
    50%{opacity: 0.2;}
    100%{opacity: 1;}
}


@keyframes cloud {
    0%{fill: #e6e8eb; transform: translateY(0px);}
    50%{fill: #a1a9b5; transform: translateY(10px);}
    100%{fill: #e6e8eb; transform: translateY(0px);}
}

@keyframes lightening {
    0%, 48%{transform: scaleX(1);}
    50%{fill: #f7e40d; transform: scale(1.2);}
    52%, 100%{transform: scaleX(1); }
}

@keyframes thunder {
    0%, 45%{transform: translateX(0px);}
    46%{transform: translateX(2px);}
    50%{transform: translateX(-2px);}
    54%{transform: translateX(2px);}
    55%, 100%{transform: translateX(0px);}
}

@keyframes snowing {
    0%, 10%{opacity: 0; transform: translateY(0px);}
    50%{opacity: 1;}
    100%{opacity: 0; transform: translateY(20px);}
}

/* #E21417 - red
#F1841D - orange
#FCD700 - yellow
#83BC43 - green
#79CCEC- blue
#374999 - indigo
#7A4896 - violet */

@keyframes band-7 {
    0%{fill: #E21417;stroke: #E21417;}
    15%{fill: #7A4896; stroke: #7A4896;}
    29%{fill: #374999; stroke: #374999;}
    43%{fill: #79CCEC; stroke: #79CCEC;}
    57%{fill: #83BC43; stroke: #83BC43;}
    71%{fill: #FCD700; stroke: #FCD700;}
    85%, 100%{fill: #F1841D; stroke: #F1841D;}
}

@keyframes band-6 {
    0%{fill: #F1841D; stroke: #F1841D;}
    15%{fill: #E21417; stroke: #E21417;}
    29%{fill: #7A4896; stroke: #7A4896;}
    43%{fill: #374999; stroke: #374999;}
    57%{fill: #79CCEC; stroke: #79CCEC;}
    71%{fill: #83BC43; stroke: #83BC43;}
    85%, 100%{fill: #FCD700; stroke: #FCD700;}
}

@keyframes band-5 {
    0%{fill: #FCD700; stroke: #FCD700;}
    15%{fill: #F1841D; stroke: #F1841D;}
    29%{fill: #E21417; stroke: #E21417;}
    43%{fill: #7A4896; stroke: #7A4896;}
    57%{fill: #374999; stroke: #374999;}
    71%{fill: #79CCEC; stroke: #79CCEC;}
    85%, 100%{fill: #83BC43; stroke: #83BC43;}
}

@keyframes band-4 {
    0%{fill: #83BC43; stroke: #83BC43;}
    15%{fill: #FCD700; stroke: #FCD700;}
    29%{fill: #F1841D; stroke: #F1841D;}
    43%{fill: #E21417; stroke: #E21417;}
    57%{fill: #7A4896; stroke: #7A4896;}
    71%{fill: #374999; stroke: #374999;}
    85%, 100%{fill: #79CCEC; stroke: #79CCEC;}
}

@keyframes band-3 {
    0%{fill: #79CCEC; stroke: #79CCEC;}
    15%{fill: #83BC43; stroke: #83BC43;}
    29%{fill: #FCD700; stroke: #FCD700;}
    43%{fill: #F1841D; stroke: #F1841D;}
    57%{fill: #E21417; stroke: #E21417;}
    71%{fill: #7A4896; stroke: #7A4896;}
    85%, 100%{fill: #374999; stroke: #374999;}
}

@keyframes band-2 {
    0%{fill: #374999; stroke: #374999;}
    15%{fill: #79CCEC; stroke: #79CCEC;}
    29%{fill: #83BC43; stroke: #83BC43;}
    43%{fill: #FCD700; stroke: #FCD700;}
    57%{fill: #F1841D; stroke: #F1841D;}
    71%{fill: #E21417; stroke: #E21417;}
    85%, 100%{fill: #7A4896; stroke: #7A4896;}
}

@keyframes band-1 {
    0%{fill: #7A4896; stroke: #7A4896;}
    15%{fill: #374999; stroke: #374999}
    29%{fill: #79CCEC; stroke: #79CCEC}
    43%{fill: #83BC43; stroke: #83BC43}
    57%{fill: #FCD700; stroke: #FCD700}
    71%{fill: #F1841D; stroke: #F1841D}
    85%, 100%{fill: #E21417; stroke: #E21417;}
}
